@using System.Web.UI.WebControls
@using ModelMyBlog
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8,ie=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Tan-sir个人博客 - 給自己一个机会我要让世界认识自己✿</title>
    <meta name="keywords" content="{dede:field.keywords/}" />

    <link rel='stylesheet' id='open_social_css-css' href='~/Content/css/os.css' type='text/css' media='all' />
    <link rel="stylesheet" href="~/Content/css/style1.css" media="all">
    <link href="~/content/css/font-awesome.min.css" rel="stylesheet" media="screen">
</head>

<body class="single single-post single-format-standard">
    <div class="placeholder"></div>
    <!--[if lt IE 9]>
      <script src="{dede:global.cfg_templets_skin/}/js/html5.js"></script>
    <![endif]-->
    <!--头部开始-->
    <header class="header" style="height: 52px;">
        <div class="navbar">
            <h1 class="logo">
                <a href="/" title="Tan-sir" alt="Tan-sir,个人博客">Tan-sir个人博客_Tan-sir博客</a>
            </h1>
            <ul class="nav">


                <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-home"><a href="/">首页</a></li>


                <li class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-home">@Html.ActionLink("学习", "List", new { ID = 4 })</li>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                    <a>笔记</a>
                    <ul class="sub-menu">
                        @{
                            List<objSpecificType> list = (List<objSpecificType>) ViewData["book"];
                            foreach (objSpecificType Item in list)
                            {
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-category">@Html.ActionLink(@Item.Name, "List", new { ID = @Item.ID })</li>
                            }
                        }
                    </ul>
                </li>

                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">@Html.ActionLink("资料", "List", new { ID = 5 })</li>

                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">@Html.ActionLink("摄影", "List", new { ID = 6 })</li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">@Html.ActionLink("我们", "List", new { ID = 7 }) </li>


            </ul>
            <div class="menu pull-right">
                <form name="formsearch" action="/plus/search.php" method="get">

                    <input class="search-input" name="q" type="text" id="search-keyword" value="" required="required" placeholder=" 输入你要找的内容" />


                    <button type="submit" class="searchbtn search-submit" name="search" title="搜一下">



                        <i class="fa"></i>
                    </button>
                </form>

            </div>
        </div>
    </header>




    <!--头部结束-->




    <section class="container">
        <div class="content-wrap">
            <div class="content">
                <header class="article-header">
                    <h1 class="article-title"><h1>新增</h1></h1>
                    <div class="meta">
                        <p style="float:right; display:none; margin:0px; "></p>
                        <span class="muted">
                            <i class="icon-user icon12"></i>

                        </span>
                        <time class="muted">

                        </time>

                        <style>
                            .bdshare-button-style0-32 a {
                                padding: 0 3px 3px;
                                min-height: 32px;
                            }

                            .bdsharebuttonbox {
                                margin-left: 10px;
                            }
                            .whbt {
                                width: 100px;
                            }
                        </style>

                    </div>
                </header>

                <article class="article-content">

               
                    @using (@Html.BeginForm("SaveContent", "Home",FormMethod.Post))
                    {
                        <p>
                            标题：@Html.TextBox("tbTilie", null, new {@style = "width:800px;"})<br/>
                            内容：@Html.TextArea("tbMsg", null, new { @style = "width:800px;height: 500px;" })<br />
                            类别：@Html.TextBox("tbType")
                            <br/><br/>
                            @Html.TextBox("username", null, new { @style = "width:100px;" })
                            @Html.TextBox("password", null, new { @style = "width:100px;" })<br/>
                            <input type="submit"/>
                        </p>
                    }
            </div>
        </div>

    </section>
    <!-- 多说公共JS代码 end -->
    <div class="IndexLinkListWrap">
        <div class="moketitle" style="font-size: 15px;">友情链接</div>
        <ul class="friendlyLink">

            <a href='http://www.zbboke.com/' target='_blank'>Tan-sir个人博客</a>



        </ul>
    </div>
    <footer class="footer">
        <div class="footer-inner">
            <div style="padding:0 20px;overflow:hidden;">
                @*<div class="copyright pull-left">

                    <a href="/about/">关于</a> |

                    <a href="/xx/">学习</a> |

                    <a href="/tp/">娱乐</a> |

                    <a href="/cz/">成长</a> |

                    <a>Copyright © 2016, zhangbing All Rights Reserved. </a>| <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">苏ICP备16050559号</a> <a target="_blank" href="sitemap.htm">网站地图</a>
                </div>*@
                <div class="trackcode pull-right">
                </div>
            </div>

        </div>
    </footer>
</body>
</html>